{% extends 'base.html' %} {% block head %}<title>Prototypes</title>{% endblock %} {% block body %}
<div class="container">
    <h1>Prototypes</h1>

    <h2>Document Management System</h2>
    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/login-page">Login Page</a></li>
        <li><a href="/documents">Document List</a></li>
    </ul>
    <h2>Chatbot</h2>
    <ul>
        <li><a href="/chatbot">Chatbot</a></li>
    </ul>
    <h2>Video Chat</h2>
    <ul>
        <li><a href="/video-chat">Video Chat</a></li>
    </ul>
</div>
{% endblock %}
